body {
    background-color: gray;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 80vh;
}

.container{
    display: flex;
    align-items: center;
    justify-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 50px;
}